@use "../_tools.scss" as tools;

.figure {
  display: block;
  position: relative;
}

.figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--tertiary-color-transparent);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.imagecontainer {
  @include tools.flex(row nowrap center center);
  position: relative;
  height: 100%;
}
  